{"_module": "oauth2client.client", "token_expiry": "2017-09-07T18:40:53Z", "access_token": "ya29.Gl2_BCAVPo7qrr8jsaIooCAJBQxZzqW-KoQ3WZ1QeQfJtSmKyTuZi3Ym4Nejv__1FYN06-iCdn6kHujL7vYdQJqn0TVZ3Hr0QBLQDTmZVIMDIzutD2NbpSsXJK3QH28", "token_uri": "https://accounts.google.com/o/oauth2/token", "invalid": false, "token_response": {"access_token": "ya29.Gl2_BCAVPo7qrr8jsaIooCAJBQxZzqW-KoQ3WZ1QeQfJtSmKyTuZi3Ym4Nejv__1FYN06-iCdn6kHujL7vYdQJqn0TVZ3Hr0QBLQDTmZVIMDIzutD2NbpSsXJK3QH28", "token_type": "Bearer", "expires_in": 3600}, "client_id": "298195618542-saluj6ib3b7nt6f75bvqsq506p263omn.apps.googleusercontent.com", "id_token": null, "client_secret": "YV1R4ATZVg9AeNzecm60NchL", "revoke_uri": "https://accounts.google.com/o/oauth2/revoke", "_class": "OAuth2Credentials", "refresh_token": "1/E1eAmmZUNooUesJXTlD2Bs91970Lc7a3L2KFDbbdNu3c0pIhZULh1emjFVWNQgZF", "user_agent": null}
